@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>401-ERROR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminPlatform.styles.css" asp-append-version="true" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

    <body>
        <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <h1 class="display-1">401</h1>
                                    <p class="lead">No esta Autorizado</p>
                                    <p>El acceso a este recurso ha sido denegado.</p>
                                    <a href="@Url.Action("Index","Home")">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        Regresar a Inicio
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            </div>
    </body>

</html>
