<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Marcas</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-bookmark me-1"></i>Lista de Marcas
    </div>

    <div class="card-body">


        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>¿Esta Activa?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalMarca" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Marca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body ">
                <form class="needs-validation" novalidate>
                    <input id="txtid" type="text" value="0" hidden />
                    <div class="row g-1">
                        <div class="col-sm-6">
                            <label for="txtnombremarca" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtnombremarca" autocomplete="off" required>
                        </div>

                        <div class="col-sm-6">
                            <label for="estaActivo" class="form-label">¿Activo?</label>
                            <select id="estaActivo" class="form-select">
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="col-12">

                            <div id="mensajeError" class="alert alert-danger" role="alert">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" id="btnguardarmarca" class="btn btn-primary">Guardar</button>
            </div>

        </div>

    </div>
</div>

<style>

    .btn-nuevo {
        background-color: #5cb85c !important;
        color: #fff !important;
        border: none
    }

    .buttons-excel {
        background-color: black !important;
        color: #fff !important;
        border: none
    }

</style>
@section Scripts
    {

    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- ============================================================
     =LIBRERIAS PARA EXPORTAR A ARCHIVOS
    ===============================================================-->
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>


    <script>

        var operacion = "";
        var datatable;
        var filaSeleccionada;

        $(document).ready(function () {
            datatable = $("#tabla").DataTable({
                responsive: true,
                ordering: false,
                dom: "Bfrtip",
                buttons: [
                    {
                        text: "Crear Nuevo",
                        className: "btn-nuevo",
                        action: function (e, dt, node, config) {

                            operacion = "crear";
                            limpiarControles();
                            $(".needs-validation").removeClass("was-validated")
                            $("#modalMarca").modal("show");
                            $("#mensajeError").hide();
                        }
                    },
                    {
                        text: 'Exportar Excel',
                        extend: 'excelHtml5',
                        title: '',
                        filename: 'Reporte Marcas',
                        exportOptions: {
                            columns: [0, 1]
                        }
                    },
                ],


                "ajax": {
                    url: '@Url.Action("ListaMarcas","Marcas")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "nombreMarca" },
                    {
                        "data": "activo", "render": function (valor) {
                            if (valor) {
                                return '<span class="badge bg-success">Sí</span>'
                            }
                            else {
                                return '<span class="badge bg-danger">No</span>'
                            }
                        }

                    },
                    {
                        "defaultContent": '<button type="button" id="editar" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                }

            })
        })

        $("#btnguardarmarca").on("click", function () {


            var Marca =
            {
                idMarca: $("#txtid").val(),
                nombreMarca: $("#txtnombremarca").val(),
                activo: $("#estaActivo").val() == 1 ? true : false
            };


            jQuery.ajax({
                url: '@Url.Action("GuardarMarca","Marcas")',
                type: "POST",
                headers: {
                    operacion: operacion
                },
                data: JSON.stringify(Marca),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    
                    $(".modal-body").LoadingOverlay("hide");

                    if (data.mensaje == "") {
                        
                        datatable.ajax.reload();
                        $("#modalMarca").modal("hide");
                    }
                    else {

                        $("#mensajeError").text(data.mensaje);
                        $("#mensajeError").show();
                       
                    }


                },
                error: function (error) {

                    $("#mensajeError").text("Error");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14

                    });
                }
            });


        });

        $("#tabla tbody").on("click", "#editar", function () {

            $("#mensajeError").hide();
            operacion = "editar";
            $(".needs-validation").removeClass("was-validated")
            $("#modalMarca").modal("show");

            var filaSeleccionada = $(this).closest('tr');
            var data = datatable.row(filaSeleccionada).data();

            $("#txtid").val(data.idMarca)
            $("#txtnombremarca").val(data.nombreMarca)
            $("#estaActivo").val(data.activo == true ? 1 : 0)



        })

        $("#tabla tbody").on("click", ".btn-eliminar", function () {

            var filaSeleccionada = $(this).closest('tr');
            var data = datatable.row(filaSeleccionada).data();


            Swal.fire({
                title: '¿Esta seguro de eliminar?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, eliminarlo',
                cancelButtonText: 'Cancelar'
            }).then((result) => {

                if (result.isConfirmed) {
                    jQuery.ajax({
                        url: '@Url.Action("EliminarMarca", "Marcas")?idMarca=' + data.idMarca,
                        type: "DELETE",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            datatable.ajax.reload();

                        },
                        error: function (error) {
                            alert(data.mensaje);
                        },
                        beforeSend: function () {
                        }
                    });
                }

            })



        })


        function limpiarControles() {
            $("#txtid").val(0);
            $("#txtnombremarca").val("");
            $("#estaActivo").val(1);

        }



    </script>
    }
